<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@latest"></script>
</head>
<!--This is the main template -->
<body>
    <!--addtion of htmx polling to the site-->
        <div hx-get="/status" hx-trigger="every 2s"></div>
        <!---Navigation bar-->
        <nav>
            <div class="logo">LocalDrop</div>
        </nav>

        <div class="content">
            <p>Scan the QR Code to connet to device</p>
            <div class="qr-code" id="qr-container">
                <img src="data:image/png;base64,{{ qr_code_img }}">
            </div>
            <p>
                Wating for device...
            </p>
        </div>


</body>
</html>